<p>nibble /nĭb′əl/</p>
<p>noun </p>
<p>1. a four-bit data set, or half a byte 2. A very small quantity</p>
<section>
  <ul>
    {{#each posts as |post|}}
      <li>
        <div>
          <a href="/post/{{id}}"><h2>{{title}}</h2></a>
          <p>Written by {{user.username}} on {{created_at}}</p>
        </div>
      </li>
    {{/each}}
    {{comments}}
  </ul>
</section>