<article>
  <h2>{{post.title}}</h2>
  {{#if ownPost}}
    <a href="/post/edit/{{post.id}}">Edit</a>
    <button class="delete-button">Delete</button>
  {{/if}}
  <p>Written by {{post.user.username}} on {{formatDate post.created_at}}</p>
  {{{markdownToHtml post.content}}}
  <h3>Comments</h3>
  {{#if loggedIn}}
    <form class="comment-form">
      <textarea id="comment-text"></textarea>
      <input type="submit" value="Comment" />
    </form>
  {{/if}}
  {{#each post.comments as |comment|}}
    <div>
      <p>{{user.username}} said on {{formatDate created_at}}</p>
      <p>{{comment_text}}</p>
    </div>
  {{/each}}
</article>
{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}
{{#if ownPost}}
  <script src="/javascript/delete-post.js"></script>
{{/if}}